*, ::before, ::after {
    box-sizing: border-box;
}

html,body {
    font-size: 62.5%;
    font-family:"Gotham", Helvetica, Arial, sans-serif;
    background-color:#000;
}

*, header, footer, .div1, .div2, .div3, .div4 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

header, footer {
    font-weight: 400;
    text-align: center;
    float: left;
    height: 150px;
    width: 100%;  
    background: #A33B20;
}
.div1, .div2, .div3, .div4 {
    border: 1px solid black;
    height: 500px;
    float:left;
    transition: all 0.2 5s ease-out;
}

.div1 {
    float: left;
    width: 20%;
    background: #44A1A0;
}
.div2, .div3 {
    width: 20%;
    background-color:#fff;
}
.div4 {
    width:40%;
    background-color:#fff;
}
@media (width < 768px) {
    .div1, .div2 {
        float:none;
        width:100%; 
    }
    .div3, .div4 {
        width:50%;
    }
    
}
@media (width < 480px) {
    .div3, .div4 {
        float:none;
        width:100%; 
    }
}